# API Security
API_KEY=my_secure_api_key_123
VITE_API_KEY=my_secure_api_key_123

# reCAPTCHA v3
VITE_RECAPTCHA_SITE_KEY=6LenaM4sAAAAAEwVQRNdnKzS0-9bO1rGTAM9s1xu
RECAPTCHA_SECRET_KEY=6LenaM4sAAAAAJ1y0sKsUtDG9ahZekDOnbuvGWQ5

# CORS configuration
CORS_ORIGIN=*

# Zoho CRM Credentials
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_DATACENTER=in

# Zoho Sheet Configuration
ZOHO_SHEET_ID=
ZOHO_SHEET_NAME=Sheet1

# Gallabox Webhook URLs
GALLABOX_CLIENT_WEBHOOK=
GALLABOX_OWNER_WEBHOOK=

# Emails
TEAM_EMAILS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
