# Zoho CRM Credentials
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=

# Zoho Sheet Configuration
ZOHO_SHEET_ID=
ZOHO_SHEET_NAME=Sheet1

# Gallabox Webhook URLs
GALLABOX_CLIENT_WEBHOOK=
GALLABOX_OWNER_WEBHOOK=
TEAM_EMAILS=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
